<nav class="nav__bar">
  <div class="nav__logo">LOGO</div>
  <div class="nav__items">
    <div class="nav__spacer"></div>
    <ul class="nav__ul">
      <li class="nav__list_item">Home</li>
      <li class="nav__list_item">Services</li>
      <li class="nav__list_item">Pricing</li>
      <li class="nav__list_item">Checklist</li>
      <li class="nav__list_item">Contact</li>
    </ul>
  </div>
</nav>
