.brand-img{
  max-height: 45px;
}
.border-top{
  border-top: 1px solid grey;

}
.bg-dark-blue{
  background:	#000080
}
.bg-magenta{
  background: #8B008B;
}
.bg-yellow{
  background: #ffdc12;
}


.bg-light-blue{
  background: #03A9F4
}
.text-lg p{
  font-size: 18px;
}
.display-2{
  user-select: none;
}
html{
  scroll-behavior: smooth
}
*{
  margin: 0;
  padding: 0;
}
